
       body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background: black;
            display: flex;
            flex-direction: column;
           
            justify-content: center;
            height: 100vh;
        }

        #contenedor {
            text-align: center;
            margin: 0;
            padding: 30px;
        }

        .text-container, form {

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: whitesmoke;
            margin-top: 20px; /* Ajusta el espacio entre la imagen y el texto */
        }



        img {

            max-width: 150px;
            height: auto; /* Para mantener la proporción original */
            margin: 20px ; /* Ajusta el espacio debajo de la imagen */
        }

        h1, h2, h3, p, label {
            text-align: center;
            color: whitesmoke;
            margin-bottom: 20px;
        }

        .btn, input {
            margin-top: 30px;
            color: black;
            padding: 10px 10px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            background-color: whitesmoke; 
            border: none;
        }

         .btn-siguiente {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
        
